@import "tailwindcss";

@theme {
  --font-aeonikbolditalic: AeonikBoldItalic, sans-serif;
  --font-aeonikregular: AeonikRegular, sans-serif;
  --font-aeonikregularitalic: AeonikRegularItalic, sans-serif;
}

@font-face {
  font-family: 'AeonikBoldItalic';
  src: url("./asset/fonts/AeonikTRIAL-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: 'AeonikRegular';
  src: url("./asset/fonts/AeonikTRIAL-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'AeonikRegularItalic';
  src: url("./asset/fonts/AeonikTRIAL-RegularItalic.otf") format("opentype");
}

.font-aeonikbolditalic {
  font-family: var(--font-aeonikbolditalic);
}

.font-aeonikregular {
  font-family: var(--font-aeonikregular);
}

.font-aeonikregularitalic {
  font-family: var(--font-aeonikregularitalic);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #130F0C;
    --foreground: #FFFFFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
