@import "tailwindcss";

@theme {
  --font-aeonikbolditalic: AeonikBoldItalic, sans-serif;
  --font-aeonikregular: AeonikRegular, sans-serif;
  --font-aeonikregularitalic: AeonikRegularItalic, sans-serif;
  --font-vasion: Vasion, sans-serif;
}

@font-face {
  font-family: "AeonikBoldItalic";
  src: url("./asset/fonts/AeonikTRIAL-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "AeonikRegular";
  src: url("./asset/fonts/AeonikTRIAL-Regular.otf") format("opentype");
}

@font-face {
  font-family: "AeonikRegularItalic";
  src: url("./asset/fonts/AeonikTRIAL-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: "Vasion";
  src: url("./asset/fonts/VASION.ttf") format("truetype");
}

.font-aeonikbolditalic {
  font-family: var(--font-aeonikbolditalic);
}

.font-aeonikregular {
  font-family: var(--font-aeonikregular);
}

.font-aeonikregularitalic {
  font-family: var(--font-aeonikregularitalic);
}

.font-vasion {
  font-family: var(--font-vasion);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #130f0c;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bgColor-tertiary {
  background-color: #1d1d1d;
}
.bgColor-secondary {
  background-color: #a07648;
}
